:root {
  --fwregular: 500;
  --fwsemibold: 600;
  --fwbold: 700;
}

body {
  font-family: "Inter";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: var(--fwsemibold);
}

.profile {
  width: 45px;
  height: 45px;
  position: fixed;
  top: 4%;
  left: 5%;
  transform: translatex(-50%) translatey(-50%);
}

@keyframes myImg {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.3);
	}

	100% {
		transform: scale(1);
	}
}

.heroimg:hover{
  animation: myImg 1.5s ease-in 1s 999 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

html {
  scroll-behavior: smooth;
}

.nav-link {
  transition: all 0.2s;
  position: relative;
}


.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #10B981;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

p {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: var(--fwsemibold);
  font-size: 18px;
}

.btn {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: var(--fwregular);
}

.webdev {
  font-weight: var(--fwregular);
}

.navbar-brand {
  font-weight: var(--fwbold);
  font-size: x-large;
}

.nav-link {
  font-weight: var(--fwregular);
}

.hero {
  background-color: #222831;
}

.portfolio {
  background-color: #393E46;
}

.portfolio .card {
  animation: myAnim 3s linear 0s 999 normal none;
}

.its {
  color: lightblue;
}

.contact h6 {
  color: #10B981;
}

.contact p {
  color: slategray;
}


.about {
  background-color: #dfe3e7;
}

.about h6 {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: var(--fwbold);
  color: #00be7f;
}

.about h2 {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: var(--fwbold);
}

.about p {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: var(--fwregular);
  font-size: 16px;
  color: #222831;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputform {
  background-color: #E2E8F0;
}

.works, .labelform {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: var(--fwsemibold);
  color: #10B981;
}

.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}

.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    max-height: 100%;
}

@media (max-width: 767px) {
  .card .img-wrapper {
    height: 9em;
  }
}

.services,
.servicescontainer {
  background-color: #E2E8F0;
}

.card-title {
  color: #10B981; 
}

.card-text {
  font-weight: var(--fwregular);
}

#introduce {
  color: #EAEAEA;
}

#name {
  color: #EEEEEE;
}

#major {
  color: #10B981;
  font-size: 20px;
}

.validasimessage a {
  font-weight: var(--fwsemibold);
  font-size: 10px;
}

.footerdarrell {
  background-color: #10B981;
}

.footerdarrell h4 {
  font-weight: var(--fwbold);
}

.copyright {
  background-color: #0a6f4d;
}